<div class="container mt-5 text-center">
  <h1 class="display-4 mb-4">Bienvenue sur jersey AI</h1>
  <p class="lead mb-5">
    Pose une question sur un jersey de foot, une année, un joueur…<br />
    Notre intelligence artificielle te répond instantanément.
  </p>
  <%= link_to "Poser une question", new_question_path, class: "btn btn-primary btn-lg" %>
</div>
